<tr>
    <td class="head2"
        style="color: #2b343c; font-size: 24px; font-weight: 600; padding: 40px 45px 15px; background: #ffffff; text-align: left">
        Hi <%= user.name %>,
    </td>
</tr>