.DS_Store
node_modules
dist
/coverage
/.nyc_output
package-lock.json
imports
exports

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*


#proto directories in each service
auth-service/proto
users-service/proto
menu-service/proto
order-service/proto
deeplink-service/proto
sync-service/proto
kafka-service/proto

#config directories in each service
auth-service/config
auth-service/config
users-service/config
menu-service/config
order-service/config
deeplink-service/config
sync-service/config
kafka-service/config

#model directories in each service
auth-service/model
auth-service/model
users-service/model
menu-service/model
order-service/model
deeplink-service/model
sync-service/model
kafka-service/model