<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="apple-mobile-web-app-title" content="KFC">
  <meta name="application-name" content="KFC">
  <meta property="og:site_name" content="KFC" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:image" content="{{image}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:url" content="{{url}}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KFC" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:image" content="{{image}}" />
  <meta name="twitter:app:name:iphone" content="KFC" />
  <meta name="twitter:app:url:iphone" content="" />
  <meta name="twitter:app:id:iphone" content="" />
  <meta name="twitter:app:name:googleplay" content="KFC" />
  <meta name="twitter:app:url:googleplay" content="" />
  <meta name="twitter:app:id:googleplay" content="" />

  <!-- Applications -->
  <meta property="al:ios:app_name" content="KFC" />
  <meta property="al:ios:url" content="" />
  <meta property="al:ios:app_store_id" content="" />
  <meta property="al:android:app_name" content="KFC" />
  <meta property="al:android:url" content="" />
  <meta property="al:android:package" content="" />

  <title>{{title}}></title>
</head>

<body>
  <script type="text/javascript">
    function deepLink(options) {
      var fallback = options.fallback || '';
      var url = options.url || '';
      var iosLink = options.iosLink;
      var iosStoreLink = options.ios_store_link;
      var androidPackageName = options.android_package_name;
      var playStoreLink =
        'https://market.android.com/details?id=' + androidPackageName;
      var ua = window.navigator.userAgent;

      // split the first :// from the url string
      var split = url.split(/:\/\/(.+)/);
      var scheme = split[0];
      var path = split[1] || '';
      var urls = {
        deepLink: url,
        iosLink: iosLink,
        iosStoreLink: iosStoreLink,
        android_intent: 'intent://' +
          path +
          '#Intent;scheme=' +
          scheme +
          ';package=' +
          androidPackageName +
          ';end;',
        playStoreLink: playStoreLink,
        fallback: fallback
      };
      // alert(JSON.stringify(urls))
      // let urlss = {
      //   "deepLink": "http://",
      //   "iosLink": "34uih",
      //   "iosStoreLink": "",
      //   "android_intent": "intent://#Intent;scheme=http://;package=com.android.kfc;end;",
      //   "playStoreLink": "https://market.android.com/details?id=com.android.kfc",
      //   "fallback": "https://uae.kfc.me//"
      // }
      var isMobile = {
        android: function () {
          return /android/i.test(ua);
        },
        ios: function () {
          return /iPhone|iPad|iPod/i.test(ua);
        }
      };

      // fallback to the application store on mobile devices
      if (isMobile.ios() && urls.iosLink && urls.iosStoreLink) {
        iosLaunch();
      } else if (isMobile.android() && androidPackageName) {
        androidLaunch();
      } else {
        window.location = urls.fallback;
      }

      function launchWekitApproach(url, fallback) {
        window.location = url;
        setTimeout(function () {
          document.location = fallback;
        }, 1000);
      }

      function launchIframeApproach(url, fallback) {
        var iframe = document.createElement('iframe');
        iframe.style.border = 'none';
        iframe.style.width = '1px';
        iframe.style.height = '1px';
        iframe.onload = function () {
          document.location = url;
        };
        iframe.src = url;
        window.onload = function () {
          document.body.appendChild(iframe);
          setTimeout(function () {
            window.location = fallback;
          }, 1000);
        };
      }

      logger.info(urls)

      function iosLaunch() {
        // chrome and safari on ios >= 9 don't allow the iframe approach
        if (
          ua.match(/CriOS/) ||
          (ua.match(/Safari/) && ua.match(/Version\/(9|10|11)/)) || ua.match(/Mozilla/)
        ) {
          launchWekitApproach(urls.iosLink, urls.iosStoreLink || urls.fallback);
        } else {
          launchIframeApproach(urls.iosLink, urls.iosStoreLink || urls.fallback);
        }
      }

      function androidLaunch() {
        if (ua.match(/Chrome/)) {
          document.location = urls.android_intent;
        } else if (ua.match(/Firefox/)) {
          launchWekitApproach(urls.deepLink, urls.playStoreLink || urls.fallback);
        } else {
          launchIframeApproach(url, urls.playStoreLink || urls.fallback);
        }
      }
    }
  </script>
  <script type="text/javascript">
    var options = {
      fallback: '{{fallback}}',
      url: '{{url}}',
      iosLink: '{{iosLink}}',
      ios_store_link: '{{ios_store_link}}',
      android_package_name: '{{android_package_name}}'
    }
    deepLink(options)
  </script>
</body>

</html>